/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.foto-israel img {
    cursor: pointer;
}

@keyframes spin {
    from {
        transform: rotateY(0deg); 
    }
    to {
        transform: rotateY(360deg); 
    }
}

.girar {
    animation: spin 1.5s linear infinite; 
    transform-style: preserve-3d; 
}

article h1{
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-size: 50px;
    font-family: "Calibri";
}


