@tailwind base;
@tailwind components;
@tailwind utilities;

/* ALL */
*{
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: "League Spartan";
}

/* Custom styles */
.close-menu{
@apply w-0 opacity-0 overflow-hidden;

}

.close-user-menu{
  @apply h-0 opacity-0 overflow-hidden; 
}

body{
  @apply bg-[#ececec];
}

.content-wrapper {
  min-height: calc(100vh - 60px); /* Ajuste 60px para a altura do seu footer */
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

